.cont-principal{
  display: flex;
  margin: 0 auto;
}

.turnos-secction {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  gap: 30px;
  color: black;
}

.calendario-addTurno {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F7F7F7;
  padding: 20px;
  gap: clamp(10px, 5vw, 80px);
  border-radius: 10px;
}

.calendario {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;   
  max-width: 300px;
  height: auto;
  box-sizing: border-box;
  margin-right: 15px;
}


.nuevo-turno {
  flex: 0;
  width: fit-content;
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-turno {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #d3d3d3;
}

.header-turno h2 {
  margin: 0;
  font-size: 1.4rem;
  color: #3d3d3d;
  display: flex;
  align-items: center;
}

.fecha-turno {
  margin-top: 2rem;
  font-size: 0.95rem;
  color: #424242;
}

.turno-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
}

.turno-form label {
  color: #333;
}

.input-patient{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-horario{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Btn-nuevo-turno{
  background-color: #7CDAB2;
  border: solid 1px #333;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: black;
  align-self: center;
  margin-top: 5px;
}
.Btn-nuevo-turno:hover{
  background-color: #70c7a1;
  cursor: pointer;
}
.select-horario{
  height: 40px;
  border: solid 1px rgb(170, 170, 170);
  border-radius: 5px;
  width: 300px;
  color: #333;
}

.turno-form .MuiFormLabel-root.Mui-focused {
  color: #7BD9B1;
}
.tabla-turnos {
  background-color: #F7F7F7;
  height: 400px;
  border-radius: 5px;
  overflow: auto;
}

.tabla-turnos .bg-green{
  background-color: #7CDAB2;
  border-bottom: solid 1px rgb(145, 145, 145);
}

.celda-con-separador {
  position: relative;
}

.tabla-turnos .btn-delete{
  all: unset;
  cursor: pointer;
}

.celda-con-separador::after {
  content: '';
  position: absolute;
  top: 15%;   
  bottom: 15%;
  right: 0;
  width: 1px;
  background-color: rgba(85, 85, 85, 0.5);
}
.celda-con-separador:last-child::after {
  display: none;
}

.no-turnos {
  display: flex;
  justify-content: center;
  color: #333;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.no-turnos h3{
  margin-top: 50px;
}



.formPatientRegister-turno{
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  color: #252525;
  width: 35%;
  margin: 50px 30px 30px 0px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #9C9C9C;
  gap: 10px;
}
.formPatientRegister-turno .title-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formPatientRegister-turno .title-form h4{
  font-size: 1.2rem;
}

.formPatientRegister-turno .form-patient{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.formPatientRegister-turno .form-patient .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  max-width: 350px;
}

.formPatientRegister-turno .form-patient .form-group label {
  margin-bottom: 3px;
  font-weight: 500;
}

.formPatientRegister-turno .form-patient .form-group input,
.formPatientRegister-turno .form-patient .form-group select {
  width: 100%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.formPatientRegister-turno .form-patient input,
.formPatientRegister-turno .form-patient select {
  height: 30px;
  max-width: 350px;
  width: 100%;
}
.formPatientRegister-turno .form-patient .campos-obligatorios{
  padding: 10px;
}

.formPatientRegister-turno .form-patient button{
  background-color: #7BD9B1;
  color: rgb(48, 48, 48);
  border: none;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
  width: 80%;
  max-width: 250px;
  transition: background-color 0.3s ease;
}
.formPatientRegister-turno .form-patient button:hover{
  background-color: #71c7a2;
  cursor: pointer;
}
.formPatientRegister-turno .form-patient .campos-obligatorios{
  font-size: 0.85rem;
}


.alert-fixed {
  position: fixed;
  top: 40px;
  left: 300px;
  z-index: 1000;
  width: fit-content;
  max-width: 90%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .cont-principal {
    flex-direction: column;
    margin: 0;
    padding: 0px;
  }

  .calendario-addTurno {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #f7f7f7;
  }

  .calendario {
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: auto;
    padding: 0;
  }

  .MuiDateCalendar-root {
    width: 100% !important;
  }

  .MuiPickersSlideTransition-root {
    width: 100% !important;
  }

  .nuevo-turno {
    width: 100%;
    align-items: flex-start;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .input-patient{
    max-width: 350px;
    width: 110%;
  }

  .turno-form,
  .input-horario {
    width: 100%;
  }

  .select-horario {
    max-width: 300px;
    width: 100%;
  }

  .formPatientRegister-turno {
    width: auto;
    box-sizing: border-box;
    margin: 0 20px 0 20px;
    margin-bottom: 50px;
  }
   .formPatientRegister-turno .title-form h4{
    font-size: 1.1rem;
  }

  .tabla-turnos {
    max-height: 300px; 
    overflow-y: auto;
  }

  .tabla-turnos table {
    font-size: 0.7rem !important;
  }

  .tabla-turnos th,
  .tabla-turnos td {
    padding: 6px;
  }
  .no-turnos {
    height: 300px;
  }

  .tabla-turnos .MuiTableCell-root {
    font-size: 0.7rem !important;
    padding: 4px 8px;
  }

  .tabla-turnos .nombre-paciente {
    font-size: 0.7rem !important;
  }
}