#main-container{
    color: rgb(0, 0, 0);
}
#sidemenu{
    background-color: white;
    color: rgb(0, 0, 0);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    border-right: groove 2px rgb(0, 0, 0);
    box-shadow: 0 0 20px rgb(0, 0, 0, 2);
    max-width: 400px;
}
#sidemenu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: groove 2px rgb(0, 0, 0);
}

#sidemenu #profile{
    border-bottom: groove 2px rgb(0, 0, 0);
    padding: var(--padding) 0;
    text-align: center;
}
#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}
#sidemenu #profile #photo img{
    width: 100%;
    border-bottom: groove 2px rgb(0, 0, 0);
}
#sidemenu #profile #user{
    margin-bottom: 2rem;
}
#sidemenu #profile #photo, #sidemenu #profile #user{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}
#sidemenu #menu-items{
    overflow: hidden;
    margin-top: 15px;
}
#sidemenu #menu-items .item{
    width: 282px;
}
#sidemenu #menu-items .item .icon{
    display: inline-block;
    
}
#sidemenu #menu-items .item .icon, #sidemenu #menu-items .item .title{
    font-size: 18px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    margin-left: 1rem;
}
#sidemenu #menu-items .item a{
    display: block;
}
#sidemenu #menu-items .item .title:hover{
    color: var(--hovercolor);
}
#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width);
}
#sidemenu #menu-items .item .icon img{
    width: 35px;
}
#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
}